# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local
services.json


# Firebase local overrides
envro-frontend/google-services.local.json

# Build output
dist/
build/
.expo/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Project folders
doc/
micheal3-hazard/
micheal5-hazard/
project/
